@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,700;0,800;1,400&display=swap');
nav span.navbar-brand {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
label {
  text-align: left;
}

a.btn:nth-child(odd) {
  margin: 0 1px
}

p.day-label {
  font-size: xx-small;
  color: beige;
  margin: 0;
}